{
  "name": "zendesk-macro-importer",
  "values": [
    {
      "key": "subdomain",
      "value": "YOUR_SUBDOMAIN",
      "enabled": true
    },
    {
      "key": "email",
      "value": "YOUR_ADMIN_EMAIL",
      "enabled": true
    },
    {
      "key": "api_token",
      "value": "YOUR_API_TOKEN",
      "enabled": true
    }
  ],
  "_postman_variable_scope": "environment"
}